body{
    background: rgb(74, 73, 75);
    color: #ffffff;
}
#headerBanner {
    position: absolute;
    right: 16px;
    padding: 30px;
    text-align: right;
    margin: 0px auto;
    font-size: 22px;
    word-spacing: 20px;
    text-decoration: none;
    a:link{
        text-decoration: none;
        color: #ffffff;
    }
    a:hover{
        color: #1ed760;
    }
}
.Top {
    text-align: center;
    letter-spacing: 1px;
    font-size: 35px; 
    padding-top: 8vh;
    padding-bottom: 60px;
}
p {
    font-size: 20px;
    margin-top: -50px;
}
.Projects{
    font-size: 25px;
    margin-left: 40px;
    margin-right: 40px;
    letter-spacing: 1px;
    text-align: center;
    a:link{
        color: #ffffff;
        text-decoration: none;
    }
    a:hover{
        color: #1ed760;
    }
}
.info{
    font-size: 25px;
}
